Options -Indexes +FollowSymLinks -MultiViews

ServerSignature Off

RewriteEngine On

####RewriteCond %{HTTPS} !=on####
####RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]#####

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d [OR]
RewriteCond %{REQUEST_FILENAME} -l
RewriteRule ^ - [L]

RewriteRule ^about-us/?$ about-us.php [L]

RewriteRule ^profile/?$ profile.php [L]
RewriteRule ^contact-us/?$ contact-us.php [L]
RewriteRule ^entry/?$ entry.php [L]
RewriteRule ^account/?$ account.php [L]
RewriteRule ^cart/?$ cart.php [L]
RewriteRule ^checkout/?$ checkout.php [L]
RewriteRule ^orders/?$ orders.php [L]

RewriteRule ^blogs/?$ blogs.php [L]

RewriteRule ^team/?$ team.php [L]
RewriteRule ^terms/?$ terms.php [L]
RewriteRule ^products/?$ products.php [L]

RewriteRule ^products/([^/]+)/?$ products.php?category=$1 [END,QSA]

RewriteRule ^product/([^/]+)/?$ product.php?category=$1 [END,QSA]

RewriteRule ^blog/([^/]+)/?$ blog.php?slug=$1 [END,QSA]

ErrorDocument 404 /404.php


